<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ymir GNU+Linux-libre Distribution</title>
		<meta name="description" content="Ymir GNU+Linux-libre Distribution">
		<meta name="keywords" content="gnu, software, freedom, distro, linux, linux-libre, free">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="assets/css/main.css">
		{{ append_head_end }}
	</head>
	<body>
		<div id="nav" class="scroll-top">
			<ul class="inner">
				<li class="current logo black"><a href="#home" class="op-nav"><img src="assets/images/logo-black.png" /></a></li>
				<li class="current logo white"><a href="#home" class="op-nav"><img src="assets/images/logo-white.png" /></a></li>
				<li class="current"><a href="#home" class="op-nav">Home</a></li>
				<li><a href="#why" class="op-nav">Why</a></li>
				<li><a href="#solution" class="op-nav">Solution</a></li>
				<li><a href="#install" class="op-nav">Install</a></li>
			</ul>
		</div>

		<div class="wrap">
			<div id="home" class="section prominent focus">
				<div class="content center center-text">
					<h2>Welcome to your freedom!</h2>
					<div class="term-decor smaller">
						<div class="inner">
							<p><strong>$ uname -rms</strong><br/>
							Linux-libre {{kernel_version}} x86_64</p>
							<p><strong>$ lsb_release -i</strong><br/>
							Distributor ID:	VoidLinux</p>
						</div>
					</div>
					<p><strong>Ymir</strong> is a GNU+Linux-libre distro that aims to be lightweight, efficient, bleeding edge and most importantly, <a href="https://www.gnu.org/philosophy/philosophy.html" title="Also known as Free Software" target="_blank">libre</a>*. We aim to be Free as in freedom from kernel to packages to every bit on your system.</p>
					<p><a href="#install" class="op-nav button cta">Install Now</a></p>
				</div>
			</div>

			<div id="why" class="section secondary">
				<div class="content left">
					<h2>Why</h2>
					<p>You may be wondering - why we made this project?</p>
					<ul>
						<li>Our upstream project Void Linux has &quot;Linux&quot; as it&#39;s kernel by default, which has some closed source blobs that can't be read, studied, modified or learned from. It stops you from enjoying total software freedom.</li>
						<li>Void Linux does not allow custom kernel builds on their project, so liberated kernels can't be allowed. (It&#39;s not their fault. They have limited resources.)</li>
						<li>Many packages on Void Linux repos are not fully libre or has major issues that harms user freedom. e.g. Abiword has hard-coded nonfree fonts, p7zip has nonfree unrar. <a href="https://github.com/drake-newell/void-packages/issues/8" target="_blank">Full list here</a></li>
						<li>Many packages suggest or forcefully push closed source, privacy disrespecting services, features or optional dependencies to you. e.g. Firefox, Chromium has telemetry enabled by default.</li>
					</ul>
					<p>We can&#39;t directly contribute these fixes to Void Linux. So we had no other way but to create this separate project. We also had to &quot;blacklist&quot; some packages that can never be &quot;liberated&quot;, so having a separate project makes sense.</p>
				</div>
				<div class="content right">
					<img src="assets/images/balloon-art.png" class="fullwidth" alt="Decorative art of balloon and clouds" />
				</div>
			</div>

			<div id="solution" class="section prominent">
				<div class="content left">
					<img src="assets/images/birds-art.png" class="fullwidth" alt="Decorative art of birds flying in the sky" />
				</div>
				<div class="content right">
					<h2>Solution</h2>
					<p>This project brings <a href="https://www.fsfla.org/ikiwiki/selibre/linux-libre/" target="_blank">Linux-libre</a> kernel on Void Linux ecosystem. Linux-libre is a fork of the original Linux kernel that removes closed source proprietary blobs that are inherently present on a typical Linux kernel. So now you can enjoy freedom even on kernel level.</p>

					<p>The project also provides a cleaner, &quot;liberated&quot; version of semi-free packages to ensure user freedom. (NOTE: All the packages are <a href="https://github.com/drake-newell/void-packages/issues/8" target="_blank">not</a> "liberated" yet. We&#39;re working on it.) We also have a &quot;your-freedom&quot; package to keep out nonfree packages from being installed on your system by accident.</p>

					<p>The goal is to make your system clean and free from proprietary or nonfree stuff.</p>
					<p><a href="https://github.com/drake-newell/void-packages" target="_blank" class="button">Check source code</a> <a href="#install" class="op-nav button cta">Install</a></p>
				</div>
			</div>

			<div id="install" class="section secondary">
				<div class="content left">
					<h2>Install</h2>
					<p>There are currently 3 ways to install <strong>Ymir</strong> GNU+Linux-libre on your system. Choose the path to your freedom!</p>
				</div>

				<div class="content right">
					<h3>Download</h3>
					<p>Easiest way to install. Also great for new installs. Just write the ISO on a flash drive or CD/DVD and install like you do other distros. And you'll be up and running in no time.</p>
					<p><a href="{{ iso_download_url }}" class="button cta">Download ISO</a></p>

					<h3>Migrate</h3>
					<p>If you already run <a href="https://voidlinux.org" target="_blank">Void Linux</a>, try this:</p>
					<div class="term-decor">
						<pre class="inner">
$ wget https://github.com/drake-newell/void-packages/raw/master/liberation || curl -LO https://github.com/drake-newell/void-packages/raw/master/liberation
$ chmod +x liberation
$ sudo ./liberation
						</pre>
					</div>
					<p>Please do not try this on a production install. Backup important files before proceeding.</p>

					<h3>Build</h3>
					<p>If you want to build from source, which is not hard at all with our script, you can follow our guide on project <a href="https://github.com/drake-newell/void-packages" target="_blank">README</a>.</p>
				</div>
			</div>

			<div class="footer">
				<p>This project is Free Software. Source code is available <a href="https://github.com/drake-newell/void-packages" target="_blank">here</a>.</p>
				<p>* The project is not complete yet. Kernel is liberated, but we have <a href="https://github.com/drake-newell/void-packages/issues/8" target="_blank">packages</a> to liberate. This is our aim at the end.</p>
			</div>
		</div>

		<script src="assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="assets/js/jquery.nav.min.js" type="text/javascript"></script>
		{{ inline_include('assets/js/inline/main.js')|safe }}{{ append_body_end }}
	</body>
</html>